.layout-wrapper {
  --heightHeader: 60px;
  --width-sidebar: 250px;
  .main-wrap {
    input[type='checkbox']:checked ~ #sidebarMenu {
      transform: translateX(0);
    }

    input[type='checkbox'] {
      transition: all 0.3s;
      box-sizing: border-box;
      display: none;
    }
    .sidebarIconToggle {
      transition: all 0.3s;
      box-sizing: border-box;
      cursor: pointer;
      position: absolute;
      z-index: 99;
      height: 100%;
      width: 100%;
      top: 22px;
      left: 15px;
      height: 22px;
      width: 22px;
    }
    .spinner {
      transition: all 0.3s;
      box-sizing: border-box;
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: #fff;
    }
    .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 3px;
    }
    .diagonal.part-1 {
      position: relative;
      transition: all 0.3s;
      box-sizing: border-box;
      float: left;
    }
    .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 3px;
    }
    input[type='checkbox']:checked ~ .sidebarIconToggle > .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      opacity: 0;
    }
    input[type='checkbox']:checked ~ .sidebarIconToggle > .diagonal.part-1 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(135deg);
      margin-top: 8px;
    }
    input[type='checkbox']:checked ~ .sidebarIconToggle > .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(-135deg);
      margin-top: -9px;
    }
    input:checked ~ .portfolio {
      transition: all 0.3s;
      margin-left: 0;
    }

    input:checked ~ label {
      width: 0;
      transition: all 0.3s;
    }
    input:checked ~ .sidebar {
      width: 0;
      transition: all 0.3s;
    }

    .label-toggle {
      z-index: 2;
      position: absolute;
      top: 0;
      // left: var(--width-sidebar);
      -moz-transition: left 0.5s ease;
      transition: left 0.5s ease;
    }
  }
  .header {
    transition: all 0.3s;
    background-color: #f64770;
    height: var(--heightHeader);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
  }

  .sidebar {
    transition: all 0.3s;
    background: linear-gradient(180deg, #fc466b 0%, #3f5efb 100%);
    width: var(--width-sidebar);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 60px;
    .sidebarMenuInner {
      margin: 0;
      padding: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    .sidebarMenuInner li {
      list-style: none;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      padding: 20px;
      cursor: pointer;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .sidebarMenuInner li span {
      display: block;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.5);
    }
    .sidebarMenuInner li a {
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .sidebar h1 {
    color: white;
  }

  .portfolio {
    transition: all 0.3s;
    background-color: white;
    // position: absolute;
    // top: 0;
    margin-left: var(--width-sidebar);
    right: 0;
    bottom: 0;
    -moz-transition: left 0.5s ease;
  }
}
