.slot-manager-wrapper {
  display: block;
  max-width: 986px;
  margin: 0 auto;
  margin-top: 80px;
}
.modal-90w {
  max-width: 90vw;
  width: 100%;
  max-height: 90vh;
  height: 100%;
  .modal-content {
    height: 100%;
  }
}
