.user-wrapper {
  max-width: 986px;
  margin: 0 auto;
  margin-top: 80px;
  .formAdd-wrapper {
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 50px;
  }
  .card {
    padding: 20px;
  }
}
